<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "es.karonte.BubbleWordsTalk"
    version   = "1.0.2">
    
<!-- Version Pro para Android -->
<name>Bubble Words</name>

<description>
Tarjetas con palabras para aprender en otros idiomas
</description>

<author href="http://www.karonte.es" email="info@karonte.es">
Karonte. Servicios en Internet. S.L.
</author>

<!-- Preferencias -->
<preference name="phonegap-version" value="2.3.0" />
<preference name="orientation" value="portrait" />
<preference name="stay-in-webview" value="true" />
<preference name="loadingdialog" value="Bubble Words Talk, Loading..." />
<preference name="splash-screen-duration" value="30000" />
<preference name="webviewbounce" value="false" />




<!-- Iconos -->
<!-- iOS -->
<icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
<icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="res/icon/ios/Ico114x114.png" gap:platform="ios" width="114" height="114" />

<!-- Android -->
<icon src="res/icon/android/Ico36x36.png" gap:platform="android" gap:density="ldpi" />
<icon src="res/icon/android/Ico48x48.png" gap:platform="android" gap:density="mdpi" />
<icon src="res/icon/android/Ico72x72.png" gap:platform="android" gap:density="hdpi" />
<icon src="res/icon/android/Ico96x96.png" gap:platform="android" gap:density="xhdpi" />


<!-- Pantallas de inicio -->
<!-- iOS -->
<gap:splash src="res/screen/splash_320x480.png" width="320" height="480" />
<gap:splash src="res/screen/splash_640x960.png" width="640" height="960" />
<gap:splash src="res/screen/splash_640x1136.png" width="640" height="1136" />
<gap:splash src="res/screen/splash_ipadLandscape.png" width="1024" height="768" />
<gap:splash src="res/screen/splash_ipadPortrait.png" width="768" height="1024" />

<!-- Android -->
<gap:splash src="res/screen/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="res/screen/splash_320x480.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="res/screen/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="res/screen/splash_640x960.png" gap:platform="android" gap:density="xhdpi" />


<!-- Android - min sdk -->
<preference name="android-minSdkVersion" value="9" />

<!-- Acceso a direcciones web -->
<access origin="http://www.bubblewords.info" subdomains="true" />
<access origin="http://api.microsofttranslator.com" subdomains="true" />




<!-- Propiedades habilitadas -->
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/device"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

<!-- Plugins necesarios -->

<gap:plugin name="FacebookConnect">
	<param name="APP_ID" value="471428772926328" />
</gap:plugin>



<!-- Para Android -->
<plugin name="Storage" value="org.apache.cordova.Storage" />
<plugin name="Media" value="org.apache.cordova.AudioHandler" />
<plugin name="Device" value="org.apache.cordova.Device" />
<plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>
<plugin name="Notification" value="org.apache.cordova.Notification"/>

<!-- Para IOS-->
<plugin name="Media" value="CDVSound" />
<plugin name="Notification" value="CDVNotification" />
<plugin name="Camera" value="CDVCamera" />

</widget>

